<!-- zone de dépôt (survole) -->
<!-- <div
  ng2FileDrop
  [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
  (fileOver)="fileOverBase($event)"
  [uploader]="uploader"
  class="drop-zone">
  Ajoutez vos fichiers ici
</div> -->

<div class="file-input-container">
  <label>
    <!-- ajout manuel des fichiers -->
    <input type="file" ng2FileSelect [uploader]="uploader" multiple/>
    Ajout
  </label>
</div>

<h2>Fichiers: {{ uploader?.queue?.length }}</h2>

<ion-list>
  <!-- liste des fichiers déjà téléchargés -->
  <ion-reorder-group (ionItemReorder)="reorderFiles($event)" disabled="false">
    <ion-item *ngFor="let item of uploader.queue">
      <ion-label> {{ item?.file?.name }} </ion-label>
      <ion-reorder></ion-reorder>
    </ion-item>
  </ion-reorder-group>
</ion-list>

<!-- 
<div class="file-input-container">
    <input type="button" ng2FileSelect value="Envoyer" (click)="upload()"/>
</div> -->

<button type="button" ng2FileSelect 
  (click)="upload.uploadAll()"
  [disabled]="!uploader.getNotUploadedItems().length">
  Envoyer
  </button>